.header {
  padding: 3rem 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);

  h5 {
    font-size: 22px;
    text-align: center;
  }

  p {
    font-size: 22px;
  }
}
